<div id = "coordinates" [style.width.px] = "coordinatesWidth" (window:resize) = "onResize()">
  <form #pointForm (ngSubmit)="savePoint(pointForm)">
    <br>
    <span>Выберите Х</span>
    <table>
      <tr>
        <td><p-radioButton name="inputX" class = "inputX" value="-3" label = "-3" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="-2" label = "-2" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="-1" label = "-1" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="0" label = "0" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="1" label = "1" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="2" label = "2" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="3" label = "3" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="4" label = "4" [(ngModel)]="selectedValueX"></p-radioButton></td>
        <td><p-radioButton name="inputX" value="5" label = "5" [(ngModel)]="selectedValueX"></p-radioButton></td>
      </tr>
    </table>
    <span>Выберите Y</span>
    <br>
    <p-slider [(ngModel)]="valueY" name="inputY" styleClass="prime-slider-override" [min]="-5" [max] = "5" [step] = "1"></p-slider>
    <span>{{valueY}}</span>
    <br>
    <span>Выберите R</span>
    <table>
      <tr>
        <td><p-radioButton name="inputR" value="-3" label = "-3" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="-2" label = "-2" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="-1" label = "-1" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="0" label = "0" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="1" label = "1" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="2" label = "2" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="3" label = "3" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="4" label = "4" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
        <td><p-radioButton name="inputR" value="5" label = "5" [(ngModel)]="selectedValueR" (click)="redraw()"></p-radioButton></td>
      </tr>
    </table>
<!--    <table class="possible-hit">-->
<!--      <tr>-->
<!--        <td>X</td>-->
<!--        <td>Y</td>-->
<!--        <td>R</td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>{{selectedValueX}}</td>-->
<!--        <td>{{valueY}}</td>-->
<!--        <td>{{selectedValueR}}</td>-->
<!--      </tr>-->
<!--    </table>-->
    <button id = "Shoot" label="Пиу-пиу!" pButton type="submit" class="ui-button-warning"></button>
  </form>
</div>
